@use "../utils" as *;

:root {
    // fonts
    --primary-font: "forma-djr-text", sans-serif;
    --secondary-font: "kallisto", sans-serif;

    // base values
    --text-base-size: 1rem;

    // typescale
    --text-xs: calc(var(--text-base-size) * 0.75);
    --text-sm: calc(var(--text-base-size) * 0.875);
    --text-md: calc(var(--text-base-size));
    --text-lg: calc(var(--text-base-size) * 1.5);
    --text-xl: calc(var(--text-base-size) * 2);
}

.primary-font {
    font-family: var(--primary-font);
}

.secondary-font {
    font-family: var(--secondary-font);
}

body {
    font-family: var(--primary-font);
    font-size: var(--text-md);
    color: var(--col-white);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--secondary-font);
    margin-bottom: var(--space-xxs);
}

h1,
.text-xl {
    font-size: var(--text-xl);
}

h2,
.text-lg {
    font-size: var(--text-lg);
}

h3,
.text-md {
    font-size: var(--text-md);
}

h4,
.text-sm {
    font-size: var(--text-sm);
}

h5,
.text-xs {
    font-size: var(--text-xs);
}

p {
    font-size: var(--text-md);
    color: var(--col-dark-gray);
}

.error {
    color: var(--col-red);
    font-size: var(--text-sm);
}

.subtle {
    color: var(--col-mid-gray);
}

.extra-subtle {
    color: var(--col-light-gray);
}

.bold {
    font-weight: 600;
}

.link {
    font-weight: 600;
    color: var(--col-secondary);
}

.text-inverted {
    color: var(--col-dark-gray);
}

.chip {
    padding: var(--space-xs) var(--space-xl);
    background-color: var(--col-light-purple);
    color: var(--col-dark-purple);
    border-radius: 2rem;
    margin: 0 auto;
    font-size: var(--text-sm);
}

input {
    font-family: var(--secondary-font);
    color: var(--mid-gray);
    font-size: var(--text-md);
}
