@use "../utils" as *;

.chatrooms {
    display: flex;
    flex-direction: column;

    &__welcome-message {
        padding-inline: var(--space-md);
        margin-bottom: var(--space-sm);

        @include breakpoint(sm) {
            padding-inline: var(--space-xl);
        }
    }

    &__chat-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: var(--col-white);
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        overflow-y: scroll;
        flex: 1;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__chat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space-md);
        padding-block: var(--space-md);

        &:not(:last-child) {
            border-bottom: 1px solid var(--col-light-gray);
        }
    }

    &__icon-placeholder {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: var(--col-secondary);
    }

    &__chat-info {
        flex-grow: 1;
        display: flex;
        height: 2.8rem;
        flex-direction: column;
        justify-content: space-between;

        h4 {
            font-size: var(--text-md);
        }
    }

    &__chat-status {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding-block: var(--space-xxxs);
        height: 2.8rem;

        img {
            width: 1rem;
        }
    }

    &__create-chat {
        position: relative;
        bottom: 0;
        max-width: 26.5625rem;
        width: 100%;
        z-index: 999;
        background-color: var(--col-white);

        &::after {
            position: absolute;
            content: "";
            top: -5rem;
            right: 0;
            left: 0;
            height: 5rem;
            background: linear-gradient(transparent 50%, var(--col-white));
        }
    }
}
