.signup-form {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__input-group {
        border-bottom: 1px solid var(--col-light-gray);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--space-lg);
    }

    &__input {
        padding-block: var(--space-xs);
        border: none;
        background-color: transparent;
        outline: none;
    }

    &__input-icon {
        height: 20px;
        width: 20px;
        fill: var(--col-mid-gray);
    }

    #register-btn,
    #login-btn {
        margin: var(--space-xl) 0 var(--space-md) 0;
    }

    &__divider {
        display: flex;
        align-items: center;
        gap: var(--space-md);
        margin-bottom: var(--space-md);

        span {
            height: 1px;
            width: 100%;
            background-color: var(--col-light-gray);
        }
    }

    &__third-party-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--space-md);
        margin-bottom: var(--space-xl);
    }

    & > p {
        color: var(--col-white);
    }
}
